<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="zapTests">
    <classes>
	 <class name="finalProject_zapGuitars.footerTest"/>    
	 <class name="finalProject_zapGuitars.navigateToGuitars"/>  
	 <class name="finalProject_zapGuitars.oneProductPage"/> 
	 <class name="finalProject_zapGuitars.filtersTest"/>
	 <class name="finalProject_zapGuitars.multiChoiceWindow"/>    
    </classes>
  </test> <!-- zapTests -->
</suite> <!-- Suite -->
